body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container { width: 100%; height: 100% }
#unity-canvas { background: #CCCCCC }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-light.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-header { position: fixed; width: 50; top: 0; margin-bottom: 5px; line-height: 38px; }                                                                                  //WIDTH ORIGINAL ERA 100 REDUZI PARA 50 PARA FUNCIONAR BOTAO MINIMAP
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 0px }
#unity-fullscreen-button { float: left; width: 30px; height: 30px; margin-top: 10px; margin-left: 10px; background: url('fullscreen-button.png') no-repeat center }
#unity-webxr-link { float: left; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#entervr:enabled { float: left; width: 30px; height: 30px; background-color: #1eaed3; margin-top: 55px; margin-left: -30px; }
#enterar:enabled { float: left; width: 30px; height: 30px; background-color: #1eaed3; margin-top: 82px; margin-left: -30px; }
#entervr:disabled { float: left; width: 30px; height: 30px; background-color: #dddddd; margin-top: 55px; margin-left: -30px;  }
#enterar:disabled { float: left; width: 30px; height: 30px; background-color: #dddddd; margin-top: 82px; margin-left: -30px; }
